<!-- Include header - ejs -->
<%- include("./includes/header.ejs") %>
    <div class="container">
        <h1>Home</h1>
    <p> <%= firstPost %> </p>
    <%  for (let i=0; i<posts.length; i++){ %>
          <h2> <%= posts[i].title %> </h2>
          <p> <%= posts[i].content %> </p>
          <% } %>
    </div>

    <!-- Include footer - ejs -->
    <%- include("./includes/footer.ejs") %>